<div class="ui center aligned container">
  <div class="ui stackable inverted divided grid">
    <div class="three wide column">
      <div class="ui inverted link list">
        <h5>Auszeichnungen</h5>
        <img src="https://easyaction.de/wp-content/uploads/Logo_Aktiv-Wettb_2016_RGB-768x391.png" width="100%" height="auto" style="background-color: #ffffff; padding: 10px;" alt="„Aktiv für Demokratie und Toleranz“ 2017 durch das Bündnis für Demokratie und Toleranz (BfDT)">
      </div>
    </div>
    <div class="three wide column">
      <div class="ui inverted link list">
        <h5>{{t 'Categories'}}</h5>
        <ul style="list-style-type:none; padding: 0; margin:0;">
          <li><a class="item" href="/information">Information</a></li>
          <li><a class="item" href="/diskussion">Diskussion</a></li>
          <li><a class="item" href="/aktion">Aktion</a></li>
        </ul>
      </div>
    </div>
    <div class="three wide column">
      
    </div>
    <div class="three wide column">
     
    </div>

    <div class="three wide column">
      
    </div>
  </div>
  <div class="ui inverted section divider"></div>
  <div class="ui stackable grid">
    <div class="thirteen wide computer twelve wide tablet column left aligned">
      <div class="ui horizontal inverted small divided link list less top margin">
        <span class="item">{{t 'Copyright'}} &copy; {{moment-format (now) 'YYYY'}}  {{config.appName}} </span>
        {{#each footerPages as |page|}}
          {{#link-to 'pages' page.url class='item'}}
            {{page.name}}
          {{/link-to}}
        {{/each}}
      </div>
    </div>
    <div class="three wide computer four wide tablet column right aligned">
      {{#ui-dropdown class='floating labeled grey search icon mini button' selected=currentLocale forceSelection=false onChange=(action 'switchLanguage')}}
        <i class="world icon"></i>
        <span class="text">English</span>
        <div class="ui language menu">
          {{#each-in l10n.availableLocales as |key value|}}
            <div class="item" data-value="{{key}}">{{value}}</div>
          {{/each-in}}
        </div>
      {{/ui-dropdown}}
    </div>
  </div>
</div>
