{{#if event.isMapShown}}
  <div class="eight wide column event-map">
    <h1>{{t 'Getting Here'}}</h1>
    {{#leaflet-map lat=event.latitude lng=event.longitude zoom=10}}
  		{{tile-layer url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

  		{{#marker-layer lat=event.latitude lng=event.longitude}}
    		{{#popup-layer}}
      			<h3>{{event.name}}</h3>
            <p>{{event.startsAt}}</p>
            <p>{{event.locationName}}</p>
    		{{/popup-layer}}
  		{{/marker-layer}}

	{{/leaflet-map}}
  </div>
{{/if}}
<div class="{{if event.isMapShown 'eight' 'sixteen'}} wide column address">
  <h1>{{t 'Address'}}</h1>
  <p>{{event.locationName}}</p>
</div>
